    @model Danyal_Chatha_Passion_Project.Models.ViewModels.DetailsPlayer
@{ 
    ViewBag.Title = "View";
}

<a href="/Player/List">Go Back to List</a>
<br />
<a href="/Player/Edit/@Model.SelectedPlayer.PlayerId">Update</a>
<br />
<a style="color:red;" href="/Player/DeleteConfirm/@Model.SelectedPlayer.PlayerId">Delete</a>
<h2>@Model.SelectedPlayer.PlayerName</h2>
<div>Jersey Number: @Model.SelectedPlayer.PlayerJersey</div>
<div>Position: @Model.SelectedPlayer.PlayerPosition</div>
<div>Team: @Model.SelectedPlayer.TeamName</div>

<div>
    <h2>Accolade Acquired for @Model.SelectedPlayer.PlayerName:</h2>
    @foreach(var accolade in Model.AquiredAccolades)
            {
                <a href="/Accolade/Details/@accolade.AccoladeId">@accolade.AccoladeName</a> <a style="color:#ab2020;" href="/Player/Unassociate/@Model.SelectedPlayer.PlayerId?AccoladeId=@accolade.AccoladeId">[x]</a><br />
            }
        <div>
            <h4>Add new accolade for @Model.SelectedPlayer.PlayerName</h4>
            <form method="POST" action="/Player/Associate/@Model.SelectedPlayer.PlayerId">
                <select name="AccoladeId">
                    @foreach (var accolade in Model.AvailableAccolade)
                    {
                        <option value="@accolade.AccoladeId">@accolade.AccoladeName</option>
                    }
                </select>
                    <input type="submit" value="Associate Accolade" />
            </form>
        </div>
</div>